<article>
	<h1>Listing employees</h1>

	<table class="datalist">
		<thead>
		  <tr>
		    <th>Name</th>
		    <th>Phone Number</th>
		  </tr>
		</thead>

		<tbody>
		<% @employees.each do |employee| %>
	  	<tr>
	    	<td><%= link_to employee.fullname, employee %>
				<small class="hover">
					<%= link_to 'Edit', edit_employee_path(employee) %>,
					<%= link_to 'Delete', employee, :confirm => 'Are you sure?', :method => :delete %>
				</small>
			</td>
	    	<td width="100"><%= employee.phone1 %></td>
		  </tr>
		<% end %>
		</tbody>
	</table>

	<%= link_to 'New Employee', new_employee_path %>
</article>
