<article>
	<p id="notice"><%= notice %></p>

	<p>
	  <b>First name:</b>
	  <%= @employee.first_name %>
	</p>

	<p>
	  <b>Lastname:</b>
	  <%= @employee.last_name %>
	</p>

	<p>
	  <b>Title:</b>
	  <%= @employee.title %>
	</p>

	<p>
	  <b>Phone1:</b>
	  <%= @employee.phone1 %>
	</p>

	<p>
	  <b>Extension1:</b>
	  <%= @employee.extension1 %>
	</p>

	<p>
	  <b>Phone2:</b>
	  <%= @employee.phone2 %>
	</p>

	<p>
	  <b>Extension2:</b>
	  <%= @employee.extension2 %>
	</p>

	<p>
	  <b>Address1:</b>
	  <%= @employee.address1 %>
	</p>

	<p>
	  <b>Address2:</b>
	  <%= @employee.address2 %>
	</p>

	<p>
	  <b>City:</b>
	  <%= @employee.city %>
	</p>

	<p>
	  <b>Province:</b>
	  <%= @employee.province %>
	</p>

	<p>
	  <b>Country:</b>
	  <%= @employee.country %>
	</p>

	<p>
	  <b>Country:</b>
	  <%= @employee.country %>
	</p>

	<p>
	  <b>Postal code:</b>
	  <%= @employee.postal_code %>
	</p>

	<p>
	  <b>Start date:</b>
	  <%= @employee.start_date %>
	</p>

	<p>
	  <b>End date:</b>
	  <%= @employee.end_date %>
	</p>


	<%= link_to 'Edit', edit_employee_path(@employee) %> | <%= link_to 'Back', employees_path %>
</article>
