<article>
	<h1>Listing users</h1>

	<table class="datalist">
		<thead>
		  <tr>
		    <th>User name</th>
		    <th>Password hash</th>
		    <th>Last signin</th>
		    <th>Last ip</th>
		    <th></th>
		  </tr>
		</thead>

		<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.user_name %></td>
				<td><%= user.password_hash %></td>
				<td><%= user.last_signin %></td>
				<td><%= user.last_ip %></td>
				<td>
				<%= link_to 'S', user %>,
				<%= link_to 'E', edit_user_path(user) %>,
				<%= link_to 'D', user, :confirm => 'Are you sure?', :method => :delete %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>

	<%= link_to 'New User', new_user_path %>
</article>