<article>
	<h1>Listing clients</h1>

	<table class="datalist">
		<thead>
			<tr>
				<th>Name</th>
				<th width="100">Phone Number</th>
				<th width="100">Manager</th>
		  </tr>
		</thead>

		<tbody>
		<% @clients.each do |client| %>
			<tr>
				<td>
					<%= link_to client.fullname, client %>
					<small class="hover">
						<%= link_to 'Edit', edit_client_path(client) %>,
						<%= link_to 'Delete', client, :confirm => 'Are you sure?', :method => :delete %>
					</small>
				</td>
				<td><%= client.phone1 %></td>
				<td>&nbsp;</td>
			</tr>
		<% end %>
		</tbody>
	</table>

	<%= link_to 'New Client', new_client_path %>
</article>
