<article>
	<h1>Listing companies</h1>

	<table class="datalist">
		<thead>
	  	<tr>
	    	<th>Name</th>
	    	<th>Phone</th>
			<th>Manager</th>
	  	</tr>
		</thead>

		<tbody>
		<% @companies.each do |company| %>
			<tr>
				<td>
					<%= link_to company.name, company %>
					<small class="hover">
						<%= link_to 'Edit', edit_company_path(company) %>,
						<%= link_to 'Delete', company, :confirm => 'Are you sure?', :method => :delete %>
					</small>
				</td>
				<td width="100"><%= company.phone %></td>
				<td width="100">
					<%= link_to company.manager.fullname, company.manager if company.manager %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>

	<%= link_to 'New Company', new_company_path %>
</article>
