<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
  	
	<link rel="stylesheet" href="/css/template.css" type="text/css" />	
  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>
</head>

<body class="fluid">
	<div id="wrapper">
		<%= render 'layouts/header' %>
		<%= render 'layouts/top_menu' %>
	
		<section id="content" class="container_12">
			<div class="container_12 clearfix">
				<section id="main" class="grid_9 push_3">
					<%= yield %>
				</section>

				<aside id="sidebar" class="grid_3 pull_9">
					<%= render 'layouts/info' %>
				</aside>
			</div>
		</section>
		
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>